[submodule ".config/rofi/themes/gruvbox"]
	path = .config/rofi/themes/gruvbox
	url = https://github.com/bardisty/gruvbox-rofi
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:luisalcarasr/nvim
