* {
  font-family: "IBM Plex Mono Nerd", "JetBrains Mono";
  font-size: 12px;
  font-weight: bold;
  background-color: #282c34;
}

window#waybar {
  border-bottom: 2px solid #21252b;
  background-color: rgba(40, 44, 52, 0.95);
}

.module:not(#workspaces) {
  background-color: #383c45;
  color: #abb2bf;
  margin: 4px;
  padding: 0px 8px;
  border-radius: 8px;
}

#workspaces button:hover {
  background: none;
  box-shadow: none;
  border: none;
  border-color: #282c34;
}

#workspaces button {
  color: #abb2bf;
}

#workspaces button.active,
#workspaces button.active.empty {
  color: #61afef;
}

#workspaces button.empty {
  color: rgba(171, 178, 191, 0.2);
}

#tray {
  background-color: rgba(40, 44, 52, 0.95);
  opacity: 0.95;
}

#tray * {
  color: rgba(171, 178, 191, 0.2);
}
